<h1 class="header">الامتحانات</h1>
<mat-divider></mat-divider>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        أختر المادة
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>أختر رقم المادة</mat-label>
        <mat-select (selectionChange)="courseNumberFilter($event)">
          <mat-option *ngFor="let item of cousreNumbers" [value]="item">{{item}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>أختر نوع الامتحان</mat-label>
        <mat-select (selectionChange)="kindOfExamFilter($event)">
          <mat-option *ngFor="let item of examTypes" [value]="item.value">{{item.viewValue}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<!-- <div *ngIf="dataSource"> -->
  <table mat-table [dataSource]="dataSource" class="">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="examType">
      <th mat-header-cell *matHeaderCellDef> النوع </th>
      <td mat-cell *matCellDef="let element"> {{element.examType}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>المدة بالساعات </th>
      <td mat-cell *matCellDef="let element">{{element.duration}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="questionsCount">
      <th mat-header-cell *matHeaderCellDef> عدد الأسئلة </th>
      <td mat-cell *matCellDef="let element"> {{element.questionsCount}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="fullMark">
      <th mat-header-cell *matHeaderCellDef> علامة كاملة </th>
      <td mat-cell *matCellDef="let element"> {{element.maxGreade}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef> الحالة  </th>
      <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
    </ng-container> -->

    <ng-container matColumnDef="rules">
      <th mat-header-cell *matHeaderCellDef> القواعد </th>
      <td mat-cell *matCellDef="let element"> {{element.rules}} </td>
    </ng-container>

    <ng-container matColumnDef="courseName">
      <th mat-header-cell *matHeaderCellDef> اسم المادة</th>
      <td mat-cell *matCellDef="let element"> {{element.courseName}}</td>
    </ng-container>

    <ng-container matColumnDef="scale">
      <th mat-header-cell *matHeaderCellDef> رقم المادة</th>
      <td mat-cell *matCellDef="let element"> {{element.courseNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="courseNumber">
      <th mat-header-cell *matHeaderCellDef>رقم الامتحان</th>
      <td mat-cell *matCellDef="let element"> {{element.examNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> تاريخ الانشاء </th>
      <td mat-cell *matCellDef="let element"> {{element.created | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="students">
      <th mat-header-cell *matHeaderCellDef> الطلاب  </th>
      <td mat-cell *matCellDef="let element"  ><button mat-raised-button (click)="getStudents(element)"><i class="fas fa-users fa-2x cur"></i></button>  </td>
    </ng-container>

    <ng-container matColumnDef="opentExamDetails">
      <th mat-header-cell *matHeaderCellDef>طلب اعتماد  </th>
      <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="confirmAssement(element.courseNumber,element.examType)"><i class="fas fa-check-square fa-2x cur"></i></button>  </td>
    </ng-container>

    <ng-container matColumnDef="view-exam">
      <th mat-header-cell *matHeaderCellDef> اظهار الامتحان </th>
      <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="previewExam(element._id)"><i class="fas fa-external-link-alt fa-2x cur"></i></button>  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="5" aria-label="Select page of users"></mat-paginator>
<!-- </div> -->
