.container{
    width: 100%;
    text-align: right;
    transition: all .3s;
    display: flex;
    flex-direction: column;
}
.buttonNe {
  font-size: large;
  width: 150px;
}
.buttonPr {
  font-size: large;
  width: 150px;
  margin-right: 50px;

}


.exam-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px 10px;
    font-family: sans-serif;
    width: 100%;
    background-color: snow;
    /* border-radius: 9px; */
    margin: 12px;
    transition: all .3s;
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 0;
    z-index: 1;

}

.exam-info strong{
    font-size: 24px;
    color: black;
}

.exam-info span{
    font-size: 18px;
    color: black;

}

.Qdiv {
  overflow: scroll;
}
.countdown {
  font-size: xx-large;
}
.questions{
    margin: 10px 0px;
}

.q-and-num{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: 1.1em;
}

.q-and-num span{
    padding: 3px 8px;
    transition: all .3s;
    color: black;
    display: flex;
    flex-direction: column;
}


.answered{
    /* background-color: #f05945; */
    /* color: snow !important; */
}

.q-and-num label{
    font-weight: bold;
    font-size: 22px;
    /* color: #444; */
    color: rgb(207, 32, 32);;
    margin: 3px;
    /* border-radius: 4px; */
}


.question{
    /* background-color: rgba(255, 250, 250, .69); */
    margin: 14px;
    text-align: justify;
    /* border-radius: 4px; */
    padding: 4px;
    /* box-shadow: 2px 4px 4px #aaa; */
    transition: all .3s;

}

.question-number{
    /* background-color: rgba(255, 250, 250, .88); */
    margin-right: 700px;}

.single-question {
  margin-right: 950px;
}

.single-label {
  text-align: justify;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 15px 0 !important;
    width: 400px;
  }
.note {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 15px 0 !important;
  padding: 20px;
  max-height: 550px;
  max-width: 570px;
}
  .example-radio-button {
    margin: 5px !important;

  }

::ng-deep .mat-radio-label{
        flex-direction: row-reverse;
    }

::ng-deep .mat-radio-label-content {
  padding-right: 32px;
  padding-left: 14px;
}
::ng-deep .mat-radio-container{
    margin-left: 15px;
    margin-bottom: 4px;
}

.warn-messages,.page{
    color: snow;
    font-weight: bold;
    background-color: red;
    padding: 6px;
    margin: 15px 0px;
    align-self: center;
    font-size: large;
}

.page{
    /* background-color: darkcyan; */
    /* box-shadow: 1px 3px 5px cadetblue; */
}

.actions{
    /* width: 88%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200;
    margin-right: 50%;
    margin-left: 50%;
}

.buttonfinish {
  width: 150px;
  font-size: large;
}

.finish {
  text-align: center;
  margin-top: 300px;
  color: red;
  font-size: xx-large;

}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:#5eaaa8;
  }

  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:#5eaaa8;
    background-color:#5eaaa8;
  }

  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      /* background-color:rgb(255, 37, 37,.26); */
  }

.single-page {
  margin: 14px;
  /* border-radius: 4px; */
  padding: 100px;
  /* box-shadow: 2px 4px 4px #aaa; */
  transition: all .3s;
  text-align: justify;

}
.question-label{
  font-weight: bold;
  font-size: 22px;
  text-align: justify;
  /* color: #444; */
  color: rgb(207, 32, 32);
  /* margin: 3px; */
  /* border-radius: 4px; */
}

.wrapper{
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button{
  display:inline-block;
  margin: 30px;
  width: 130px;
  font-size: larger;
}

.answer-percent{
  display: flex;
  flex-direction: row-reverse;
}

.percent{
  padding: 0 20px;
  border-radius: 4px;
  border: 1px solid #666;
}

.dive{
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
}