<h1 mat-dialog-title dir="rtl" *ngIf="data.mode==0">إضافة طالب</h1>
<h1 mat-dialog-title dir="rtl" *ngIf="data.mode==1">تعديل طالب</h1>


<div  mat-dialog-content style="height: calc(100% - 96px);" dir="rtl">

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>أبحث</mat-label>
    <input [(ngModel)]="term" type="text" matInput placeholder="أبحث">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>أختر المرحلة</mat-label>
    <mat-select  (selectionChange)="filter($event)">
      <mat-option *ngFor="let item of levels" [value]="item">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-divider></mat-divider>
  <br/>
  <mat-selection-list #Students>
    <mat-list-option *ngFor="let student of students|filter:term" [value]="student" class="mat-primary">
      {{student.studentName}}
    </mat-list-option>
  </mat-selection-list>

  <p dir="rtl">
    عدد الطلاب المحدد: {{Students.selectedOptions.selected.length}}
  </p>




  <!-- <form [formGroup]="addStudentForm">
    <mat-form-field>
      <mat-label>اسم الطالب</mat-label>
      <input type="text" matInput required formControlName="studentName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>رقم الطالب</mat-label>
      <input type="text" matInput required formControlName="studentNumber">
    </mat-form-field> --

    <mat-form-field>
      <mat-label>البريد الالكتروني</mat-label>
      <input type="email" matInput required formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label> رقم الهاتف</mat-label>
      <input type="text" matInput required formControlName="phone">
    </mat-form-field>

    <mat-form-field>
      <mat-label>كلمة السر</mat-label>
      <input [type]="hide ? 'password' : 'text'" matInput required formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field >
      <mat-label>المرحلة</mat-label>
      <mat-select formControlName="level">
        <mat-option *ngFor="let level of levels" [value]="level">
          {{level}}
        </mat-option>
      </mat-select>
    </mat-form-field>
<div mat-dialog-actions>
  <button mat-raised-button  (click)="onSubmit()" type="submit">حفظ</button>
  <button mat-raised-button *ngIf="data.mode==1" (click)="edit()" type="submit">حفظ</button>
  <button mat-button (click)="onNoClick()">إغلاق</button>
</div>
  </form> -->
</div>
<div mat-dialog-actions>
  <mat-checkbox (click)="selectAll()" type="submit">اختيار الجميع</mat-checkbox>
  <button mat-raised-button (click)="onSubmit()" type="submit">حفظ</button>
  <button mat-button (click)="onNoClick()">إغلاق</button>
</div>
