<h1 class="header">العلامات</h1>
<mat-divider></mat-divider>
<!--<div class="test-bank-option" >
  <button class="Tbuttons" mat-raised-button  (click)="addCourse()"> <i class="fas fa-file-alt"></i> إضافة مادة </button>
   <button *ngIf="optionMode" class="Tbuttons" mat-raised-button  (click)="students()"><i class="fas fa-users"></i> الطلاب </button>
</div>-->
<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        أختر المادة
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>أختر رقم المادة</mat-label>
        <mat-select (selectionChange)="courseNumberFilter($event)">
          <mat-option *ngFor="let item of cousreNumbers" [value]="item">{{item}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>اسم المادة</mat-label>
        <mat-select (selectionChange)="kindOfExamFilter($event)">
          <mat-option *ngFor="let item of cousreName" [value]="item">{{item}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<div *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="courseName">
      <th mat-header-cell *matHeaderCellDef> اسم المادة </th>
      <td mat-cell *matCellDef="let element"> {{element.courseName}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="courseNumber">
      <th mat-header-cell *matHeaderCellDef> رقم المادة</th>
      <td mat-cell *matCellDef="let element">{{element.courseNumber}}</td>
    </ng-container>



    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> تاريخ الانشاء </th>
      <td mat-cell *matCellDef="let element"> {{element.created | date:'medium'}} </td>
    </ng-container>
    <!-- (click)="getStudent(element.courseNumber)" -->
    <ng-container matColumnDef="grades">
      <th mat-header-cell *matHeaderCellDef> العلامات </th>
      <td mat-cell *matCellDef="let element"
      [routerLink]="['/MainView/pages/dashboard/students/', element.courseNumber]"> <i class="fas fa-chart-line fa-2x cur"></i>  </td>
    </ng-container>

    <ng-container matColumnDef="confirm">
      <th mat-header-cell *matHeaderCellDef> اعتماد </th>
      <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="confirmAssement(element.courseNumber)"><i class="fas fa-check-square fa-2x cur"></i></button>  </td>
    </ng-container>

    <ng-container matColumnDef="scales">
      <th mat-header-cell *matHeaderCellDef> الدراجات  </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button  (click)="addScales(element)"><i class="fas fa-sort-alpha-up fa-2x cur"></i> </button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
