table {
  width: 100%;
}
.header {
  text-align: center;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
}

.cur {
  cursor: pointer;
}
::ng-deep tr.mat-row, tr.mat-footer-row {
  height: 48px;
  // text-align: center;
}

::ng-deep  .mat-header-cell {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;

}

.full-width {
  width: 45%;
  margin-left: 20px;
}

.test-bank-option {
  margin: 0  100px;
}
.Tbuttons {
  margin-top: 20PX;
  margin-left: -20px;
  margin-bottom: 40px;
  width: 300px;
  height: 60px;
  font-size:  medium;
}
button {
  background-color: #0D71A4;
  color: #fff;
  // width: 25%;

}
