<h1 dir="rtl"> {{this.data.examObject.examType}}-{{this.data.examObject.courseName}}</h1>
<div mat-dialog-content style="height: calc(100% - 96px);">
<table mat-table [dataSource]="dataSource" class="" dir="rtl" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="studentName">
    <th mat-header-cell *matHeaderCellDef> اسم الطالب </th>
    <td mat-cell *matCellDef="let element"> {{element.studentName}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="studentNumber">
    <th mat-header-cell *matHeaderCellDef> رقم الطالب </th>
    <td mat-cell *matCellDef="let element">{{element.studentNumber}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> المرحلة   </th>
    <td mat-cell *matCellDef="let element"> {{element.level}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>  البريد الالكتروني </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

   <ng-container matColumnDef="mark">
    <th mat-header-cell *matHeaderCellDef> علامة الطالب </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline">
      <input matInput type="number" placeholder="العلامة" [(ngModel)]="examMark[element._id]">
      <mat-icon matSuffix>assignment_turned_in</mat-icon>
      <mat-hint *ngIf="examMark[element._id] > this.data.examObject.maxGreade " class="warn">خطأ ادخال غير صحيح</mat-hint>
     </mat-form-field>

     <mat-form-field class="full-width" appearance="outline">
      <mat-label>أختر الامتحان</mat-label>
      <mat-select [(ngModel)]="examTypValue" [disabled]="true">
        <mat-option *ngFor="let item of examType" [value]="item.value">{{item.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
 </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="answer">
    <th mat-header-cell *matHeaderCellDef> اجابات الطالب </th>
    <td mat-cell *matCellDef="let element"> <button mat-button (click)="downloadMyFile(examAbswers[element._id],element.studentNumber)">تنزيل الاجابات</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" aria-label="Select page of users"></mat-paginator>

</div>

<!-- <div #screen>
  <table mat-table [dataSource]="exportData" dir="rtl"  class="mat-elevation-z8" >
    <ng-container *ngFor="let columnName of columnNames let i = index" [matColumnDef]="columnName" >
      <th mat-header-cell *matHeaderCellDef>{{ capitalize(columnName) }}</th>
      <td mat-cell *matCellDef="let row">{{ row[columnName] }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
  </table>
</div> -->

<div mat-dialog-actions>
  <!-- <app-pdf-maker></app-pdf-maker> -->
  <button mat-button style="margin-right: 30px;" (click)="exportArray()">
    تنزيل العلامات <mat-icon>folder</mat-icon>
  </button>
  <!-- <app-export-pdf [head]="head" [data]="pdfData" [title]="title" [imageData]="dataImage"></app-export-pdf> -->
  <button style="margin-right: 30px;" mat-button  (click)="saveMark()">حفظ العلامات<mat-icon>save</mat-icon> </button>
  <button mat-button (click)="onNoClick()">اغلاق</button>
</div>
