<app-header></app-header>
<mat-drawer-container dir="rtl" class="container" hasBackdrop="false">
  <mat-drawer #drawer mode="side"  opened="true">

        <a class="option createE" [routerLink]="['/MainView/pages/dashboard/add-student']" >
            <span>الطلاب</span>
            <i class="fa fa-user-graduate"></i>
        </a>

        <a class="option createE" [routerLink]="['/MainView/pages/dashboard/create-exam']" >
            <span>إنشاء امتحان</span>
            <i class="fas fa-file-alt"></i>
        </a>
        <a class="option createE" [routerLink]="['/MainView/pages/dashboard/view-exam']" >
            <span>الامتحانات</span>
            <i class="fas fa-table"></i>
        </a>
        <a class="option createE" [routerLink]="['/MainView/pages/dashboard/grades']" >
          <span>العلامات</span>
          <i class="fas fa-chart-line"></i>
      </a>
        <a class="option createE" [routerLink]="['/MainView/pages/dashboard/test-bank']" >
            <span>بنك الأسئلة</span>
            <i class="fas fa-university"></i>
        </a>
        <!-- <a class="option createE" [routerLink]="['/MainView/pages/dashboard/data']" >
          <span> بيانات</span>
          <i class="fas fa-chart-pie"></i>
      </a> -->
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
